<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Таблица</title>
    <script type="text/javascript" th:src="@{js/src/main.js}"></script>
</head>

</html>
<body>
<table id="table">
    <thead>
    <th></th>
    <th>A</th>
    <th>B</th>
    <th>C</th>
    <th>D</th>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>
            <input id="A1" type="text" onfocus=setValue(this) onblur=handle(this) onkeyup=handleKeyUp(event)>
        </td>
        <td>
            <input id="B1" type="text" onfocus=setValue(this) onblur=handle(this) onkeyup=handleKeyUp(event)>
        </td>
        <td>
            <input id="C1" type="text" onfocus=setValue(this) onblur=handle(this) onkeyup=handleKeyUp(event)>
        </td>
        <td>
            <input id="D1" type="text" onfocus=setValue(this) onblur=handle(this) onkeyup=handleKeyUp(event)>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>
            <input id="A2" type="text" onfocus=setValue(this) onblur=handle(this) onkeyup=handleKeyUp(event)>
        </td>
        <td>
            <input id="B2" type="text" onfocus=setValue(this) onblur=handle(this) onkeyup=handleKeyUp(event)>
        </td>
        <td>
            <input id="C2" type="text" onfocus=setValue(this) onblur=handle(this) onkeyup=handleKeyUp(event)>
        </td>
        <td>
            <input id="D2" type="text" onfocus=setValue(this) onblur=handle(this) onkeyup=handleKeyUp(event)>
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td>
            <input id="A3" type="text" onfocus=setValue(this) onblur=handle(this) onkeyup=handleKeyUp(event)>
        </td>
        <td>
            <input id="B3" type="text" onfocus=setValue(this) onblur=handle(this) onkeyup=handleKeyUp(event)>
        </td>
        <td>
            <input id="C3" type="text" onfocus=setValue(this) onblur=handle(this) onkeyup=handleKeyUp(event)>
        </td>
        <td>
            <input id="D3" type="text" onfocus=setValue(this) onblur=handle(this) onkeyup=handleKeyUp(event)>
        </td>
    </tr>
    <tr>
        <td>4</td>
        <td>
            <input id="A4" type="text" onfocus=setValue(this) onblur=handle(this) onkeyup=handleKeyUp(event)>
        </td>
        <td>
            <input id="B4" type="text" onfocus=setValue(this) onblur=handle(this) onkeyup=handleKeyUp(event)>
        </td>
        <td>
            <input id="C4" type="text" onfocus=setValue(this) onblur=handle(this) onkeyup=handleKeyUp(event)>
        </td>
        <td>
            <input id="D4" type="text" onfocus=setValue(this) onblur=handle(this) onkeyup=handleKeyUp(event)>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>